# League App Configuration
VITE_ADMIN_TOKEN=your_admin_token_hash_here

# Fantacalcio API Extraction Credentials 
LEAGUE_ALIAS=your_league_alias_here
APP_KEY=your_app_key_here
BEARER_TOKEN=Bearer your_bearer_token_here
BASE_API=https://apileague.fantacalcio.it/onboarding/v1/hof

#