# Dependencies
node_modules/

# Production build outputs
dist/

# Local env files
.env
.env.local
.env.*.local
specs/*
scripts/insalatlas*.json
scripts/*.html
scripts/__pycache__/*
scripts/extract_thropy.py
public/assets/trophies/*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.instructions.md

# OS metadata
.DS_Store
Thumbs.db
