# Dependencies
node_modules/

# Production build outputs
dist/

# Local env files
.env
.env.local
.env.*.local
specs/*
scripts/*.json
scripts/*.html
scripts/__pycache__/*
public/assets/trophy/*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.instructions.md

# OS metadata
.DS_Store
Thumbs.db
